<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - JuniorSteps</title>

    <!-- Styles -->
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css" />
    <link rel="icon" type="image/png" href="~/img/logo.jpg" />

    <!-- Swiper CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>
<body>

    <!-- Navbar -->
    @await Html.PartialAsync("_Navbar")

    <!-- Main Content -->
    @RenderBody()

    <!-- Footer -->
    <footer class="footer">
         <br />
        <p>&copy; <span id="date"></span> Junior Steps.</p>
    </footer>

    <!-- Scripts -->
    <script src="~/js/popper.min.js" asp-append-version="true"></script>
    <script src="~/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>

    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
        const swiper = new Swiper(".swiper", {
            loop: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>

    @RenderSection("Scripts", required: false)

</body>
</html>
