<!-- sidebar -->
<aside class="sidebar" id="sidebar">
    <div>
        <button id="close-btn" class="close-btn">
            <i class="fas fa-times"></i>
        </button>
        <ul class="sidebar-links">
            <li><a asp-controller="Post" asp-action="Index">Blogs</a></li>


            <li><a asp-page="/About">About</a></li>

            
        </ul>
        <ul class="social-icons">
            <!-- single item -->
            <li>
                <a href="https://www.linkedin.com/in/ismayilovm/" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <!-- end of single item -->
            <!-- single item -->
            <li>
                <a href="https://www.instagram.com/maqa_ismayiloff2255/" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <!-- end of single item -->
        </ul>
    </div>
</aside>
<!-- end of sidebar -->



 <!-- navbar -->
<nav class="nav" id="nav">
    <div class="nav-center">
        <!-- nav header -->
        <div class="nav-header">
            <a asp-controller="Post" asp-action="Index">
                <img src="@Url.Content("~/img/logo.jpg")" alt="Logo" class="nav-logo">
            </a>
            <button class="nav-btn" id="nav-btn">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <!-- nav links -->
        <ul class="nav-links">
            <li><a asp-controller="Post" asp-action="Index">Blogs</a></li>

            <li><a asp-page="/About">About</a></li>
           
        </ul>
    </div>
</nav>