<h2>Admin Panel</h2>

<ul>
    <li>
        <a href="/secret-url" class="btn btn-primary">Add New Post</a>
    </li>
    <li><a href="/Category/Create">Add New Category</a></li>
    <li><a href="/Post/Manage">Manage Posts</a></li>
    <li><a href="/Category/Manage">Manage Categories</a></li>
</ul>
